/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@media screen and (max-width: 2560px) {

    .future_post {
        font-size: medium;
    }

    .draft {
        font-size: medium;
    }

    .new_post {
        font-size: medium;
    }

    .publish_date {
        font-size: large;
    }

    .title {
        font-size: 36px;
    }

    .author {
        font-size: medium;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    li.post {
        font-size: 18px;
    }

    pre {
        font-size: 16px;
    }

    .card-body {
        padding: .75rem;
    }

    #shareIcons img {
        width: 35px;
        height: 35px
    }
}

@media screen and (max-width: 992px) {

    .future_post {
        font-size: medium;
    }

    .draft {
        font-size: medium;
    }

    .new_post {
        font-size: medium;
    }

    .publish_date {
        font-size: large;
    }

    .title {
        font-size: 34px;
    }

    .author {
        font-size: medium;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    li.post {
        font-size: 18px;
    }

    pre {
        font-size: 16px;
    }

    .card-body {
        padding: .75rem;
    }

    #shareIcons img {
        width: 25px;
        height: 25px
    }

}

@media screen and (max-width: 768px) {

    .future_post {
        font-size: small;
    }

    .draft {
        font-size: small;
    }

    .new_post {
        font-size: small;
    }

    .publish_date {
        font-size: medium;
    }

    .title {
        font-size: 30px;
    }

    .author {
        font-size: small;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    li.post {
        font-size: 14px;
    }

    pre {
        font-size: 12px;
    }

    .card-body {
        padding: .50rem;
    }

    #shareIcons img {
        width: 25px;
        height: 25px
    }

}

@media screen and (max-width: 568px) {

    .future_post {
        font-size: x-small;
    }

    .draft {
        font-size: x-small;
    }

    .new_post {
        font-size: x-small;
    }

    .publish_date {
        font-size: small;
    }

    .title {
        font-size: 26px;
    }

    .author {
        font-size: small;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    li.post {
        font-size: 12px;
    }

    pre {
        font-size: 8px;
    }

    .card-body {
        padding: .25rem;
    }

    #shareIcons img {
        width: 15px;
        height: 15px;

    }

}

body {

    background-color: #18181E;

}

h1 {

    font-family: 'Nova Flat', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
}

h2 {

    font-family: 'Nova Flat', sans-serif;

}

h3 {

    font-family: 'Nova Flat', sans-serif;

}

h4 {
    font-family: 'Nova Flat', sans-serif;
}

small {
    font-family: 'Nova Flat', sans-serif;
}

li.post {
    font-family: 'Nunito', sans-serif;
}


.btn {

    font-family: 'Nova Flat', serif;
}

.pager {
    font-family: 'Nova Flat', serif;
}

.draft {
    font-family: 'Nova Flat', serif;
    color: red;

}

.future_post {
    font-family: 'Nova Flat', serif;
    color: darkgoldenrod;

}

.publish_date {
    font-family: 'Nova Flat', serif;
    color: #777777;

}

.title {
    font-family: 'Nova Flat', serif;
    margin-top: 10px;
    color: white;
}

.lead {
    font-family: 'Nova Flat', serif;
}

.author {
    font-family: 'Nova Flat', serif;
    margin-top: 10px
}

.image_source {
    float: right;
    margin-right: 5px;
}

.image_source a {
    color: #18181E;

}

.image_source a:hover {
    color: #72728f;
    text-decoration: none;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.new_post {
    color: #FF5A09;
}

#register {
    color: #FF5A09;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 16px;
}

#register a {
    color: white;
}

#register a:hover {
    color: #337ab7;
    text-decoration: none;
}

#title {
    font-family: 'Nova Flat', sans-serif;
    color: white;
}

#alt {
    color: white;
}

pre {
    color: whitesmoke;
    font-family: "Fira Code Retina", AndaleMono, monospace;
    border: .1rem solid white;
    border-radius: 25px;;
}

pre code {
    margin-left: 2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: #18181E;
}

#posts-lists-sidebar a {
    /*color: white;*/
    font-size: 16px;
}

#shareIconsContainer {
    float: right;
    line-height: 50%;
    margin-right: .5rem;
    cursor: pointer;
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    filter: brightness(100%);
}

#shareIconsContainer:hover {
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    filter:  brightness(75%);
}


blockquote {
    background: ghostwhite;
    border-left: 10px solid #e83e8c;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    color: #18181e;
}

blockquote:before {
    color: #18181e;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote a {
    color: #e83e8c
}

blockquote a:hover {
    color: #892453;
    text-decoration: none;
}

blockquote p {
    display: inline;
    font-family: 'Andale Mono', AndaleMono, monospace;
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
    font-family: "Fira Code Retina", AndaleMono, monospace;
    background: ghostwhite;
}

a > code {
    color: inherit;
}

.form-group {
    color: white
}

.form-group #content, #title, #draft, #publish {
    color: black;
}

#content {
    height: calc(1.5em + 25rem + 2px)
}

.preview {
    border: .1rem solid white;
    height: calc(1.5em + 50rem + 2px);
    color: white;
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow-wrap: break-word;
    overflow: scroll;
}

.preview-text {
    margin-left: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#create-submit {
    float: right;
    margin-bottom: 1rem;
}

#edit-button {
    height: 2rem;
    line-height: normal;
}

a {
    color: #02feff
}

a:hover {
   color: #01abac;
    text-decoration: none;
}

.title a {
    color: #18181e;;
}

.title a:hover {
    color: rgba(41, 41, 41, 0.99);
    text-decoration: none;
}

#top-row-form {
    float: left;
    margin-bottom: inherit;
}


#publish {
    width: min-content;
    display: inline;
    margin-right: 1rem;
    margin-left: .5rem;
}

#draft .btn{
    margin-right: 1rem;
}

label {
    margin-left: .5rem;
}

