{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {#css#}
  {% include 'css.html' %}
  {#js#}
  {#staticfiles#}
  <link rel="stylesheet" href='{% static 'accounts/css/login.css' %}'/>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
  <title>democratizer.io | Login</title>
</head>

<body>
{#{% if messages %}#}
{#  <h1 class="page_message">{% include "home/messages_display.html" %}</h1>{% endif %}#}
<div class="card rounded-0">
  <h1 id="hook">democratizer.io</h1>
  <div class="card-body d-flex flex-column text-center">
    <p class="card-text text-muted">Welcome to democratizer.io. Please sign in. </p>
{#    <h5 class="card-title">OR.....</h5>#}
{#    <h1 class="icons">#}
{#      <a href="https://www.linkedin.com/in/wayne-grigsby-65b0404a"><i class="fab fa-linkedin" style="color:#18181e;"></i></a> &nbsp;#}
{#      <a href="https://twitter.com/vvayneco"><i class="fab fa-twitter" style="color:#18181e;"></i></a> &nbsp;#}
{#      <a href="https://github.com/griggz"><i class="fab fa-github" style="color:#18181e;"></i></a> &nbsp;#}
{#      <a href="mailto:wayne@vvayne.io"><i class="fas fa-envelope" style="color:#18181e;"></i></a>#}
{#    </h1>#}
    <form class="login-form" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-lg rounded-0"><i
          class="fas fa-sign-in-alt fa-lg"></i> Login
      </button>
    </form>
  </div>
  <div class="card-footer">
    <div class="btn-group d-flex" role="group">
      <a class="btn-block btn-secondary rounded-0" id="go-back"
         href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12"
             height="12px" width="6px">
          <g fill-rule="evenodd" fill="#333333">
            <polygon points="0 12 0 0 6 6 0 12"></polygon>
          </g>
        </svg>
        Go Back
      </a>
      <a class="btn-block btn-secondary rounded-0" id="register"
         href="{% url 'accounts:register' %}">
        Not registered? Sign up
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12"
             height="12px" width="6px">
          <g fill-rule="evenodd" fill="#333333">
            <polygon points="0 12 0 0 6 6 0 12"></polygon>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>

{#<div class="page-footer">#}
{#  <h1 class="footer-options"><a href="{% url 'home:landing' %}">HOME</a> | <a#}
{#      href="{% url 'home:about' %}">ABOUT</a> | <a#}
{#      href="{% url 'posts-list' %}">BLOG</a>#}
{#  </h1>#}
{#</div>#}
<br/>
{% include 'js.html' %}
</body>
</html>