{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#css#}
    {% include 'css.html' %}
    {#    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">#}
    {#js#}
    {% include 'js.html' %}
    {#staticfiles#}
    <link rel="stylesheet" href='{% static 'accounts/css/login.css' %}'/>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    {% block header %}
    {% endblock %}

</head>
<body>

{% block content %}
    <div class="page-header">
        <img src="{% static 'images/wg_logo2.png' %}" alt="sigil" width="40" height="40"/>
        <h1 class="header_title">vvayne.io</h1>
    </div>
    <div class="pw_reset_container">
        <h1>Password Reset Complete!</h1>
        <p class="pw_reset"></p>
    </div>
    <br/>
    <div class="container" align="center">
        <p class="pw_reset"><a href="{% url 'accounts:login' %}">
            <button type="button" class="btn btn-default">Back To Login</button>
        </a></p>
    </div>
{% endblock %}
<br/>
</body>