{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href='{% static "landing/css/landing.css" %}'/>
  <link rel="stylesheet" href='{% static "landing/css/landing.css.map" %}'/>
  <link rel="stylesheet" href='{% static "landing/css/dynaButtons.css" %}'/>
  <link rel="stylesheet" href='{% static "landing/css/dynaButtons.css.map" %}'/>
{% endblock head %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <!--  {% include "landing/messages_display.html" %}-->

  <div id='root'></div>

{% endblock content %}