{% load static %}
{#<!-- Latest compiled and minified CSS -->#}
{#bootstrap-4#}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#Other#}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Pacifico|Permanent Marker|Rock+Salt|Indie+Flower|Raleway|Nova+Flat|Nunito|Righteous">
{# Icons #}
  <!-- Font-Awesome-CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css"
        integrity="sha384-DmABxgPhJN5jlTwituIyzIUk6oqyzf3+XuP7q3VfcWA2unxgim7OSSZKKf0KSsnh" crossorigin="anonymous">