body {

    background-color: #212121;

}

h1 {
    font-family: Nova+Flat, serif ;
}

h2 {
    font-family: Nova+Flat, serif ;
}

h3 {
    font-family: Nova+Flat, serif ;
}

h4{
    font-family: Nova+Flat, serif ;
}

p {
    font-family: Nova+Flat, serif ;
}

button {
    font-family: Nova+Flat, serif ;
}